$text: #000000;
$textLight: #828282;
$borderColor: #333333;
$itemColor: #4c4c4c;
$mainColor: #C4C4C4;
$mainColorLight: #E0E0E0;
$disabledColor: darkgray;
$successBtn: #6FCF97;
$errorBtn: #EB5757;
$errorBtnLight: #F7AFB0;
$hoverColorDark: #7D7D7D;
$itemColorLight: #4F4F4F;
$modalBackGround: #FFFFFF;
$searchHovered: #C5E7F2;
$searchBackground: #F2F2F2;
$warning: #F2C94C;
$hovered: lightgray;